{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> 新建部门 </h3>
            </div>
{#            <div class="panel-body">#}
{#                <form method="post">#}
{#                    {% csrf_token %}#}
{#                    <div class="form-group">#}
{#                        <label>部门名称</label>#}
{#                        <input type="text" class="form-control" placeholder="标题" name="depart_name"/>#}
{#                    </div>#}
{##}
{#                    <button type="submit" class="btn btn-primary">提 交</button>#}
{#                </form>#}
{#            </div>#}
            <div class="panel-body">
                <form method="post" novalidate>
                    {% csrf_token %}
{#                从form表单中获取要展示的字段信息，并渲染到html页面上#}
                    {% for field in form %}
                        <div class="form-group">
{#                            字段标题#}
                            <label>{{ field.label }}</label>
{#                            字段输入框#}
                            {{ field }}
{#                            展示错误信息的地方#}
                            <span style="color: red;">{{ field.errors.0 }}</span>
                        </div>
                    {% endfor %}
                <button type="submit" class="btn btn-primary">提 交</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
