<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>部署信息列表</title>

    {#    CSS样式引用#}
    <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1/css/bootstrap.css">
    <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1/css/bootstrap-theme-default.css">
    <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1/css/bootstrap-theme.css">

</head>
<body>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>编号</th>
            <th>产品名称</th>
            <th>版本号（tag）</th>
            <th>部署时间</th>
            <th>部署地点</th>
            <th>license有效期</th>
            <th>补充说明</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
        </tr>
        </tbody>
    </table>
</div>

{#javascript引用#}
<script src="../static/js/jquery-3.6.1.min.js"></script>
<script src="../static/plugins/bootstrap-3.4.1/js/bootstrap.js"></script>
<script src="../static/plugins/bootstrap-3.4.1/js/bootstrap-theme.min.js"></script>

</body>
</html>