<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增部署信息</title>

    {#    CSS样式引用#}
    <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1/css/bootstrap.css">
    <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1/css/bootstrap-theme-default.css">
    <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../static/plugins/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../static/plugins/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker.css">

</head>
<body>
<div class="container">
    <form class="form-horizontal" style="margin-top: 20px">
        <div class="row clearfix">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-2 control-label">产品名称</label>
                    <div class="col-sm-10">
                        <select class="form-control">
                            <option>云渡</option>
                            <option>云盘</option>
                            <option>破产</option>
                            <option>MCU</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-2 control-label">版本号(tag)</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="版本号(tag)">
                    </div>
                </div>
            </div>

        </div>

        <div class="row clearfix">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-2 control-label">部署地点</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="部署客户及地点说明">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-2 control-label">部署日期</label>
                    <div class="col-sm-10">
                        <input type="text" id="dt" class="form-control" placeholder="部署日期">
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-2 control-label">失效日期(license)</label>
                    <div class="col-sm-10">
                        <input type="text" id="dt-license" class="form-control" placeholder="license失效日期">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-2 control-label">补充说明</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" placeholder="补充说明"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-xs-6">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">提 交</button>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>


{#javascript引用#}
<script src="../static/js/jquery-3.6.1.min.js"></script>
<script src="../static/plugins/bootstrap-3.4.1/js/bootstrap.js"></script>
<script src="../static/plugins/bootstrap-3.4.1/js/bootstrap-theme.min.js"></script>
<script src="../static/plugins/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.js"></script>
<script src="../static/plugins/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="../static/plugins/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>

<script>
    $(function () {

        $('#dt').datepicker({
            format: 'yyyy-mm-dd',
            startDate: '0',
            language: "zh-CN",
            autoclose: true
        });

    })

    $(function () {

        $('#dt-license').datepicker({
            format: 'yyyy-mm-dd',
            startDate: '0',
            language: "zh-CN",
            autoclose: true
        });

    })
</script>

</body>
</html>